@using ManMFOperator.Models
@using ManMFOperator.Infrastructure
@model HomeIndexViewModel

@{
    ViewBag.Title = Html.LocalizedString("UserAccessList");
}
<div class="pretable">
    @using (Html.BeginForm((String)ViewContext.RouteData.Values["action"], (String)ViewContext.RouteData.Values["controller"], FormMethod.Post, new { @class = "refresh" }))
    {
            @Html.EditorFor(x => x.withnonpending,new {id="withnonpending"})
            @Html.LabelFor(x => x.withnonpending)
            <input type="submit" name="Refresh" id="Refresh" value="@Html.LocalizedString("Refresh")" />
    }
    <h3>@Html.LocalizedString("UserAccessList") (@Html.LocalizedString(Model.withnonpending?"SublistAll":"SublistPending"))</h3>
    <script>
        var showAllCheckbox, RefreshButton;
        function onWindowLoad() {
            showAllCheckbox = document.getElementById("withnonpending");
            RefreshButton = document.getElementById("Refresh");
            showAllCheckbox.onclick = changeShowAll;
        }
        function changeShowAll() {
            RefreshButton.click();
        }
        window.addEventListener("load", onWindowLoad);
    </script>
</div>
<div class="tableroot" >
@{ if(Model.users.Count()>0) {
<table class="userlist">
    <thead><tr>
        <th>@Html.DisplayNameFor(x=>x.users.FirstOrDefault().Fullname)</th>
        <th>@Html.DisplayNameFor(x=>x.users.FirstOrDefault().Department)</th>
        <th>@Html.DisplayNameFor(x=>x.users.FirstOrDefault().Upn)</th>
        <th>@Html.DisplayNameFor(x=>x.users.FirstOrDefault().ValidUntil)</th>
        <th>@Html.DisplayNameFor(x=>x.users.FirstOrDefault().IPAddress)</th>
        @{ 
            if(Model.withnonpending) {
                <th>@Html.DisplayNameFor(x=>x.users.FirstOrDefault().State)</th>
            }
        }
    </tr></thead>
    <tbody>
    @{
        foreach(UserInfo user in Model.users) {
            <tr>
                <td>@user.Fullname</td>
                <td>@user.Department</td>
                <td>@user.Upn</td>
                <td>@user.ValidUntil</td>
                <td>@user.IPAddress</td>
                @{ 
                    if(Model.withnonpending) {
                        <td>@Html.LocalizedString(Enum.GetName(typeof(ManualMF.AccessState),user.State))</td>
                    }
                }
                <td class="command">
                @{Boolean pending = ManualMF.AccessState.Pending == user.State;}
                @using (Html.BeginForm(pending ? "SetUserAccess" : "ClearUser", (String)ViewContext.RouteData.Values["controller"]))
                {
                    String ButtonName = Html.LocalizedString(pending?"Access":"Clear");
                    <input type="hidden" name="upn" value="@user.Upn" />
                    <input type="submit" name="Submit" value="@ButtonName" class="useraction"/>
                }

                </td>
            </tr>
        }
    }
    </tbody>
</table>
}
else {
<div class="nodata">
    @Html.LocalizedString("NoData")
</div>
}
}

</div>
