@using ManMFOperator.Models
@using ManMFOperator.Infrastructure
@using ManMFOperator
@model UserInfo

@{
    ViewBag.Title = "UserAccess";
}

<h3>@Html.LocalizedString("UserAccess") @Model.Fullname</h3>
@using (Html.BeginForm("CompleteSetUserAccess", (String)ViewContext.RouteData.Values["controller"]))
{
    <input type="hidden" name="Upn" value="@Model.Upn" />
    <div class="radio">
        <input type="radio" name="action" id="actionAllow" value="Allow" checked="checked"/>
        <label for="actionAllow">@Html.LocalizedString("actionAllow")</label>
        @{ if(Model.IPAddress!=null) 
            {
                <input type="checkbox" name="sameiponly" id="sameiponly" value="true" />
                <label for="sameiponly">@Html.LocalizedString("sameiponly") (@Model.IPAddress)</label>
            }
        }
    </div>
    <div class="radio">
        <input type="radio" name="action" id="actionDeny" value="Deny" />
        <label for="actionDeny">@Html.LocalizedString("actionDeny")</label>
    </div>
    <div>
        @{
            int hours = (DateTime.Now + Configuration.DefaultAccessDuration).Hour;
            int mins = (DateTime.Now + Configuration.DefaultAccessDuration).Minute;
        }
        @Html.LocalizedString("InputValidUntil"): 
        <input type="number" min="0" max="23" class="numinput" name="hours" value="@hours"/>:<input type="number" min="0" max="59" class="numinput" name="mins" value="@mins"/>
    </div>
    <div class="radio">
        <input type="radio" name="action" id="actionClear" value="Clear" />
        <label for="actionClear">@Html.LocalizedString("actionClear")</label>
    </div>
    <div>
        <input type="submit" name="Submit" value="Submit" />
    </div>
}


